.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #0f334a;
  padding: 6%;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 6px 6px 8px -6px #000000;
  box-shadow: 6px 6px 8px -6px #000000;
  cursor: pointer;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
