.home-page {
  position: relative;
  width: 100%;
  height: 100vh;
}
.chatbot-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 10px 30px;
  z-index: 1;
  height: fit-content;
  width: fit-content;
}
.button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 10px 0px;
}
