.chatbot-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 25%;
  height: 50vh;
  width: 35ch;
  box-sizing: border-box;

  @media screen and (min-width: 1500px) {
    width: 40ch;
  }

  @media screen and (max-height: 650px) {
    height: 60vh;
  }

  :nth-child(n) {
    box-sizing: inherit;
  }

  .chatbot-header {
    display: flex;
    border: 1px solid black;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
    height: 15%;

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 75%;
      p {
        margin-left: 5%;
      }
    }
  }

  .chatbot-body {
    height: 70%;
    overflow: auto;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
      :nth-child(n) {
        margin: 1%;
      }
    }
  }

  .chatbot-bottom {
    width: 100%;
    display: flex;
    height: 15%;
    border: 2px solid black;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;

    .chatbot-input {
      height: 70%;
      width: 80%;
    }

    .button {
      height: 70%;
      width: 20%;
    }
  }
}

.logo {
  display: flex;
  border-radius: 50%;
  border: 1px solid #cccccc;
  justify-content: center;
}
