.chatbot-box {
  display: flex;
  padding: 0;
  flex-direction: column;
  border: 2px solid #004a6b;
  border-radius: 10px;
  margin-bottom: 25%;
  height: 50vh;
  width: 43ch;
  box-sizing: border-box;
  -webkit-box-shadow: 7px 7px 0px 0px #004a6b;
  box-shadow: 7px 7px 0px 0px #004a6b;

  @media screen and (max-height: 650px) {
    height: 70vh;
  }

  :nth-child(n) {
    box-sizing: inherit;
  }

  .chatbot-header {
    display: flex;
    margin: -0.5%;
    border: 2px solid #004a6b;
    border-radius: 10px;
    width: 101%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
    height: 15%;
    z-index: 1;

    .header-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 85%;
      p {
        margin-left: 5%;
      }
    }

    .header-right {
      display: flex;
      justify-content: center;
      width: 15%;

      .button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .chatbot-body {
    display: flex;
    height: 70%;
    overflow: auto;
    flex-direction: column-reverse;
    margin-top: 0.5%;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
      padding: 0 3%;

      :nth-child(n) {
        margin: 1%;
      }

      h2 {
        text-align: center;
      }
    }
  }

  .chatbot-bottom {
    width: 100%;
    display: flex;
    height: 15%;
    padding: 2% 3%;
    align-items: center;

    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .chatbot-input {
      height: 70%;
      width: 85%;
      border-radius: 10px;
      padding: 2% 3%;
      box-sizing: border-box;
      border: 2px solid #004a6b;
      font: 16px "Helvetica", serif;
    }

    .button {
      display: flex;
      justify-content: flex-end;
      height: 70%;
      width: 15%;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.logo {
  display: flex;
  border-radius: 50%;
  border: 1px solid #cccccc;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
