@mixin chatBubblesStyle($background: #ffffff, $textColor: #000000) {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ff7321;
  border-radius: 10px;
  padding: 3%;
  background-color: $background;
  color: $textColor;
  max-width: 80%;
  white-space: pre-wrap;
}

@mixin chatBubblesArea($justify_content_props: none) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: $justify_content_props;
  padding: 3%;
}

.chat-question {
  @include chatBubblesArea($justify_content_props: flex-end);

  .chat-bubble-content {
    @include chatBubblesStyle($background: #ff7321, $textColor: #fff);
  }
}

.chat-reply {
  @include chatBubblesArea;

  .chat-bubble-content {
    @include chatBubblesStyle;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3%;
  p {
    font-style: italic;
    color: #cccccc;
    margin-right: 2%;
  }
}
